<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Conclusion</title>
    <meta content="Conclusion" property="og:title" />
    <meta content="Conclusion" property="twitter:title" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
        href="{{ url_for('static', filename='conclusion.css') }}"
        rel="stylesheet" type="text/css" />
    <script>
        window.alert = function() {};
    </script>
    <script
        type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
    <link href="https://cdn.prod.website-files.com/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://cdn.prod.website-files.com/img/webclip.png" rel="apple-touch-icon" />
</head>

<body>
    <div class="navbar-logo-left-2">
        <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease"
            role="banner" class="navbar-logo-left-container shadow-three w-nav">
            <div class="container-4">
                <div class="navbar-wrapper-3"><a href="/" class="navbar-brand-2 w-nav-brand">
                        <h1 class="heading-15">Arogyam</h1>
                    </a>
                    <nav role="navigation" class="nav-menu-wrapper-2 w-nav-menu">
                        <ul role="list" class="nav-menu-two w-list-unstyled">
                            <li><a href="/" class="nav-link-3">Home</a></li>
                            <li><a href="/conclusion" class="nav-link-3">Key insite</a></li>
                            <li><a href="/features" class="nav-link-3">Features</a></li>
                            <li></li>
                            <li></li>
                            <li class="mobile-margin-top-11"></li>
                        </ul>
                    </nav>
                    <div class="menu-button-2 w-nav-button">
                        <div class="w-icon-nav-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="hero-without-image-3">
        <div class="container-6">
            <div class="hero-wrapper-two-4">
                <h1>Conclusion &amp; Factor Explanation<br />‍</h1>
                <p class="margin-bottom-24px-11">Our project harnesses the power of machine learning to deliver a fast,
                    intelligent, and accessible tool for identifying diabetes and determining its type — Type 1 or Type
                    2. Designed with real-world healthcare challenges in mind, this model supports early diagnosis, even
                    in settings where lab access may be limited or delayed. <br />Key Factors Driving the Model</p>
            </div>
        </div>
    </section>
    <section class="hero-heading-left-3">
        <div class="container-5">
            <div class="hero-wrapper-4">
                <div class="hero-split-3">
                    <h1><strong>Age</strong></h1>
                    <p class="margin-bottom-24px-9">A major determinant in diabetes type: Type 1 is more common in
                        younger individuals, while Type 2 risk increases with age.</p>
                </div>
                <div class="hero-split-3"><img
                        src="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088fe0e8f5a162324928_IMG-20250404-WA0020.jpg"
                        loading="lazy" sizes="(max-width: 1473px) 100vw, 1473px"
                        srcset="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088fe0e8f5a162324928_IMG-20250404-WA0020-p-500.jpg 500w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088fe0e8f5a162324928_IMG-20250404-WA0020-p-800.jpg 800w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088fe0e8f5a162324928_IMG-20250404-WA0020-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088fe0e8f5a162324928_IMG-20250404-WA0020.jpg 1473w"
                        alt="" class="shadow-two-4" /></div>
            </div>
        </div>
    </section>
    <section class="hero-heading-left-3">
        <div class="container-5">
            <div class="hero-wrapper-4">
                <div class="hero-split-3"><img
                        src="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f00890267337b9035ff0ed_IMG-20250404-WA0018.jpg"
                        loading="lazy" sizes="(max-width: 1491px) 100vw, 1491px"
                        srcset="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f00890267337b9035ff0ed_IMG-20250404-WA0018-p-500.jpg 500w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f00890267337b9035ff0ed_IMG-20250404-WA0018-p-800.jpg 800w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f00890267337b9035ff0ed_IMG-20250404-WA0018-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f00890267337b9035ff0ed_IMG-20250404-WA0018.jpg 1491w"
                        alt="" class="shadow-two-4" /></div>
                <div class="hero-split-3">
                    <h1><strong>Fasting Blood Glucose</strong></h1>
                    <p class="margin-bottom-24px-9">Provides an immediate snapshot of glucose control, reinforcing the
                        accuracy of diabetes prediction.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="hero-heading-left-3">
        <div class="container-5">
            <div class="hero-wrapper-4">
                <div class="hero-split-3">
                    <h1><strong>HbA1c Level</strong></h1>
                    <p class="margin-bottom-24px-9">A central biomarker reflecting average blood glucose over the past
                        2–3 months. Crucial for confirming and predicting diabetes status.</p>
                </div>
                <div class="hero-split-3"><img
                        src="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088f6c459516b6ae1530_IMG-20250404-WA0019.jpg"
                        loading="lazy" sizes="(max-width: 1479px) 100vw, 1479px"
                        srcset="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088f6c459516b6ae1530_IMG-20250404-WA0019-p-500.jpg 500w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088f6c459516b6ae1530_IMG-20250404-WA0019-p-800.jpg 800w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088f6c459516b6ae1530_IMG-20250404-WA0019-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088f6c459516b6ae1530_IMG-20250404-WA0019.jpg 1479w"
                        alt="" class="shadow-two-4" /></div>
            </div>
        </div>
    </section>
    <section class="hero-heading-left-3">
        <div class="container-5">
            <div class="hero-wrapper-4">
                <div class="hero-split-3"><img
                        src="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088f2f426d071b9e3d9d_IMG-20250404-WA0017.jpg"
                        loading="lazy" sizes="(max-width: 1483px) 100vw, 1483px"
                        srcset="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088f2f426d071b9e3d9d_IMG-20250404-WA0017-p-500.jpg 500w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088f2f426d071b9e3d9d_IMG-20250404-WA0017-p-800.jpg 800w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088f2f426d071b9e3d9d_IMG-20250404-WA0017-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f0088f2f426d071b9e3d9d_IMG-20250404-WA0017.jpg 1483w"
                        alt="" class="shadow-two-4" /></div>
                <div class="hero-split-3">
                    <h1><strong>BMI (Obesity Indicator)</strong></h1>
                    <p class="margin-bottom-24px-9">Higher BMI is closely associated with insulin resistance and is a
                        significant predictor of Type 2 diabetes.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="hero-heading-left-3">
        <div class="container-5">
            <div class="hero-wrapper-4">
                <div class="hero-split-3">
                    <h1><strong>Hypertension &amp; Heart Disease</strong></h1>
                    <p class="margin-bottom-24px-9">Frequently co-existing with diabetes; these comorbidities strengthen
                        the model&#x27;s predictive confidence.</p>
                </div>
                <div class="hero-split-3"><img
                        src="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f007a31e31e9c7d7d529b3_WhatsApp%20Image%202025-04-04%20at%2020.46.49_1d6c7588.jpg"
                        loading="lazy" alt="" class="shadow-two-4" /></div>
            </div>
        </div>
    </section>
    <section class="hero-heading-left-3">
        <div class="container-5">
            <div class="hero-wrapper-4">
                <div class="hero-split-3"><img
                        src="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f007a3e614ec2bb3a57b20_WhatsApp%20Image%202025-04-04%20at%2020.46.48_3473893c.jpg"
                        loading="lazy" sizes="(max-width: 553px) 100vw, 553px"
                        srcset="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f007a3e614ec2bb3a57b20_WhatsApp%20Image%202025-04-04%20at%2020.46.48_3473893c-p-500.jpg 500w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f007a3e614ec2bb3a57b20_WhatsApp%20Image%202025-04-04%20at%2020.46.48_3473893c.jpg 553w"
                        alt="" class="shadow-two-4" />
                    <section class="hero-stack-2">
                        <div class="container-6"></div>
                    </section>
                </div>
                <div class="hero-split-3">
                    <h1><strong>Age</strong></h1>
                    <p class="margin-bottom-24px-9">A known contributor to metabolic and vascular damage, increasing the
                        risk of developing Type 2 diabetes. </p>
                </div>
            </div>
        </div>
    </section>
    <section class="hero-heading-left-3">
        <div class="container-5">
            <div class="hero-wrapper-4">
                <div class="hero-split-3">
                    <h1><strong>Gender</strong></h1>
                    <p class="margin-bottom-24px-9">Used to identify potential patterns in diabetes risk, although not a
                        direct causal factor.</p>
                </div>
                <div class="hero-split-3"><img
                        src="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f016d8e4187c039f24bd16_WhatsApp%20Image%202025-04-04%20at%2022.50.46_4440c7fa.jpg"
                        loading="lazy" sizes="(max-width: 1130px) 100vw, 1130px"
                        srcset="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f016d8e4187c039f24bd16_WhatsApp%20Image%202025-04-04%20at%2022.50.46_4440c7fa-p-500.jpg 500w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f016d8e4187c039f24bd16_WhatsApp%20Image%202025-04-04%20at%2022.50.46_4440c7fa-p-800.jpg 800w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f016d8e4187c039f24bd16_WhatsApp%20Image%202025-04-04%20at%2022.50.46_4440c7fa-p-1080.jpg 1080w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f016d8e4187c039f24bd16_WhatsApp%20Image%202025-04-04%20at%2022.50.46_4440c7fa.jpg 1130w"
                        alt="" class="shadow-two-4" /></div>
            </div>
        </div>
    </section>
    <section class="hero-stack-2">
        <div class="container-6">
            <div class="hero-wrapper-two-4">
                <h1>Title copy goes here</h1>
                <p class="margin-bottom-24px-10">What Makes This Model Different?<br />Unlike a single lab test, this
                    model integrates clinical, biological, and lifestyle indicators to deliver a more holistic and
                    accurate prediction of diabetes risk and type. It&#x27;s designed to enhance medical
                    decision-making, especially where rapid screening is essential.</p><img
                    src="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f008e1f984d033e19d3eb1_WhatsApp%20Image%202025-04-04%20at%2020.34.32_7d4e366d.jpg"
                    loading="lazy" sizes="(max-width: 556px) 100vw, 556px"
                    srcset="https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f008e1f984d033e19d3eb1_WhatsApp%20Image%202025-04-04%20at%2020.34.32_7d4e366d-p-500.jpg 500w, https://cdn.prod.website-files.com/67db717a8ad7396bc7bd5985/67f008e1f984d033e19d3eb1_WhatsApp%20Image%202025-04-04%20at%2020.34.32_7d4e366d.jpg 556w"
                    alt="" class="hero-image-2 shadow-two" />
            </div>
        </div>
    </section>
    <section class="footer-light-2">
        <div class="container-4">
            <div class="footer-wrapper-two-2"><a href="#" class="footer-brand-2 w-inline-block"></a><a href="#"
                    class="link-3">Arogyam</a>
                <div class="footer-block-two-2">
                    <div class="footer-title-2">Company</div><a href="#" class="footer-link-two-2">How it works</a>
                </div>
                <div class="footer-block-two-2">
                    <div class="footer-title-2">Quick Link</div><a href="/features"
                        class="footer-link-two-2">Features</a><a href="/conclusion" aria-current="page"
                        class="footer-link-two-2 w--current">Key insite</a>
                </div>
                <div class="footer-form-2 w-form">
                    <form id="wf-form-Footer-Form" name="wf-form-Footer-Form" data-name="Footer Form" method="get"
                        class="footer-form-container-2" data-wf-page-id="67effc02358ba6f20e75307b"
                        data-wf-element-id="c9e27c5e-a7fa-5e9e-3911-b33c72346aab"
                        data-turnstile-sitekey="0x4AAAAAAAQTptj2So4dx43e">
                        <div class="footer-title-2">Subscribe</div>
                        <div class="footer-form-block-2"><input class="footer-form-field-2 w-input" maxlength="256"
                                name="Footer-Email" data-name="Footer Email" aria-label="Get product updates"
                                placeholder="Get product updates" type="email" id="Footer-Email" required="" /><input
                                type="submit" data-wait="Please wait..." class="footer-form-submit-2 w-button"
                                value="" /></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
            <div class="footer-divider-two-2"></div>
            <div class="footer-bottom-2">
                <div class="footer-copyright-2">© 2022 Arogyam. All rights reserved</div>
                <div class="footer-social-block-two-2"><a href="#" class="footer-social-link-2 w-inline-block"><img
                            src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124ac76f12aaec_product%20icon-2.svg"
                            loading="lazy" alt="" /></a><a href="#" class="footer-social-link-2 w-inline-block"><img
                            src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124a4a9512aae0_product%20icon-1.svg"
                            loading="lazy" alt="" /></a><a href="#" class="footer-social-link-2 w-inline-block"><img
                            src="https://cdn.prod.website-files.com/62434fa732124a0fb112aab4/62434fa732124a853712aad7_product%20icon.svg"
                            loading="lazy" alt="" /></a></div>
            </div>
        </div>
    </section>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=67db717a8ad7396bc7bd5985"
        type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='features.js') }}"
        type="text/javascript"></script>
    <script src="{{ url_for('static', filename='features.js') }}"
        type="text/javascript"></script>
    <script src="{{ url_for('static', filename='features.js') }}"
        type="text/javascript"></script>
</body>

</html>